html, body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;

  background-image: url(../assets/img/backgroundru.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(90%)
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.nav_title {
  display: flex;
  color: #F2F2F2;
}

.nav_menu a {
  color: white;
  text-decoration: none; 
}

.nav_menu a:hover {
  color: red;
  text-decoration: underline;
}

.nav_menu {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
  gap: 15px;
  margin-top: 150px;
  list-style: none;
  font-size: 100px;
}

.footer {
  margin-bottom: 10px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;

  width: 48px;
  height: 48px;
  margin-bottom: 107px;
}

.icons a {
  color: white;
  font-size: 48px;
  transition: 0.3s;
}

.icons a:hover {
  color: red;
  transform: scale(1.2);
}