---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const [lang] = post.slug.split("/");
---

<article>
  <h1>{post.data.title}</h1>
  <p>
    <em>
      {
        post.data.date instanceof Date
          ? post.data.date.toLocaleDateString(lang)
          : post.data.date
      }
    </em>
  </p>
  {/* @ts-expect-error */}
  <post.Content />
</article>
