html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color:  #f0f0f0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: 'Inter';
  font-style: normal;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
