/* Blog */

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
  }
   .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}