html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color:  #f0f0f0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: 'Inter';
  font-style: normal;
  color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Skills */

.skills-section {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  text-align: center;
}

.skills-title {
  display: inline-block;
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: rgb(36, 34, 34);
}

.skills-category {
  margin-bottom: 10px;
}

.skills-category h3 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-items: center;
  gap: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.9rem;
  color: #fdfdfd;
}

.skill img {
  width: 48px;
  height: 48px;
  margin-bottom: 8px;
}