/* Intro */

* { margin: 0; padding: 0; box-sizing: border-box; }
html { scroll-behavior: smooth; }
body, button, input { font-family: var(--body-font); font-size: var(--normal-font-size); }
    body { background-color: var(--body-color); color: var(--text-color); }
h1, h2, h3 { color: var(--title-color); font-weight: var(--font-bold); }
ul { list-style: none; }
a { text-decoration: none; }
img { max-width: 100%; height: auto; }
button { cursor: pointer; }
    button, input { border: none; outline: none; }
.container { max-width: 1440px; margin-left: auto; margin-right: auto; }
.grid { display: grid; }
.button { 
    display: inline-flex; 
    align-items: center; 
    column-gap: .5rem; 
    background-color: var(--skin-color); 
    color: var(--title-color); 
    padding: 0.75rem 1.4rem; 
    border-radius: .25rem; 
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
    transition: .4s;
}
    .button::after { 
        position: absolute; 
        content: ''; 
        left: 0; 
        top: 0; 
        width: 100%; 
        height: 100%; 
        background-color: var(--mirage-color); 
        z-index: -1;
        transform-origin: center; 
        transform: scale(0); 
        border-radius: .25rem;
        transition: .3s; 
    }
        .button:hover::after { transform: scale(1); }
.section { padding: 2.5rem 0 2rem; }
.section-title { text-align: center; font-size: 1.8rem; margin-bottom: 1rem; }
    .section-title::before { content: attr(data-heading); display: block; font-size: var(--normal-font-size); font-weight: var(--font-medium); color: var(--skin-color); }
::-webkit-scrollbar { width: 0.6rem; background-color: var(--scroll-box-color); border-radius: .5rem; }
::-webkit-scrollbar-thumb { background-color: var(--scroll-thumb-color); border-radius: .5rem; }

/* Root */

:root {
    --hue-color: 242;

    --skin-color: hsl(342, 92%, 46%);
    --mirage-color: #b49c9c;
    --title-color: black;
    --text-color: black;
    --body-color:  #f0f0f0;
    --box-color: rgba(255, 255, 255);
    --scroll-box-color: #ffffff;
    --scroll-thumb-color: #ffffff;

    --mb025: .25rem;
    --mb05: .5rem;
    --mb075: .75rem;
    --mb1: 1rem;
    --mb15: 1.5rem;
    --mb2: 2rem;
    --mb25: 2.5rem;
    --mb3: 3rem;

    --z-fixed: 10;
    --z-modal: 100;


    /* Skill Root */
    --text-gradient-yellow: linear-gradient(to right, hsl(45, 100%, 72%), hsl(35, 100%, 68%));
    --jet: hsl(0, 0%, 22%);
    --light-gray: hsl(0, 0%, 84%);
    --ff-poppins: 'Poppins', sans-serif;
    --fs7: 13px;
    --fw300: 300;

    /* Menu */
/*
   --color-white-100: hsl(206, 0%, 100%);
   --color-white-200: hsl(206, 0%, 90%);
   --color-white-300: hsl(206, 0%, 80%);
   --color-white-400: hsl(206, 0%, 65%);
   --color-white-500: hsl(206, 0%, 50%);

   --color-black-100: hsl(217, 30%, 18%);
   --color-black-200: hsl(217, 27%, 15%);
   --color-black-300: hsl(217, 27%, 12%);
   --color-black-400: hsl(217, 52%, 9%);

   --color-blue-100: hsl(215, 97%, 87%);
   --color-blue-200: hsl(215, 96%, 78%);
   --color-blue-300: hsl(215, 94%, 68%);
   --color-blue-400: hsl(215, 91%, 60%);
   --color-blue-500: hsl(215, 83%, 53%);
   --color-blue-600: hsl(215, 76%, 48%);

   --shadow-small: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 1px 2px 0 rgba(0, 0, 0, 0.06);
   --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
   --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
      */

}

/* Work */

.work-container { grid-template-columns: repeat(3, 350px); gap: 1.8rem; justify-content: center; padding-top: 1rem; }
.work-filters { display: flex; justify-content: center; align-items: center; column-gap: .75rem; margin-bottom: 2rem; }
.work-item { cursor: pointer; color: var(--title-color); padding: 0.25rem .75rem; font-weight: var(--font-medium); border-radius: .5rem; }
.work-card { box-shadow: 0 4px 15px rgba(0,0,0,0.5); background-color: var(--box-color); padding: 1.25rem; border-radius: .5rem; }
.portfolio-item-details { display: none; }
.work-img { border-radius: .5rem; margin-bottom: var(--mb1); }
.work-title { font-size: var(--normal-font-size); font-weight: var(--font-medium); margin-bottom: var(--mb05); }
.work-button { color: var(--skin-color); font-size: 1,5rem; display: flex; align-items: center; column-gap: .25rem; cursor: pointer; }
.work-button-icon { font-size: 1rem; transition: .4s; }
    .work-button:hover .work-button-icon { transform: translateX(.25rem); }
.active-work { background-color: var(--skin-color); color: var(--title-color); }

.portfolio-popup { 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, .5); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden; 
    z-index: var(--z-modal); 
    transition: .4s; 
}
.portfolio-popup.open { opacity: 1; visibility: visible; }
.portfolio-popup-inner { background-color: var(--box-color); width: 900px; border-radius: .5rem; padding: 2.5rem; position: relative; }
.portfolio-popup-content { grid-template-columns: repeat(2, 1fr); align-items: center; column-gap: 3rem; }
.portfolio-popup-close { position: absolute; top: 1.5rem; right: 1.5rem; font-size: 1.5rem; color: var(--skin-color); cursor: pointer; }
.portfolio-popup-img { border-radius: .5rem; }
.portfolio-popup-subtitle { font-size: var(--smaller-font-size); margin-bottom: var(--mb025); }
.details-title { font-size: var(--h3-font-size); font-weight: var(--font-medium); margin-bottom: var(--mb1); }
.details-description { font-size: var(--small-font-size); margin-bottom: var(--mb2); }
.details-info li { margin-bottom: var(--mb075); text-transform: capitalize; font-size: var(--small-font-size); }
    .details-info li:last-child { margin-bottom: 0; }
    .details-info li span { font-weight: normal; }
    .details-info li a { text-transform: lowercase; color: var(--skin-color); }