---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import lang from "../data/lang.json";

const currentLang = "ru";

const socialLinks = [
  { href: "https://github.com/adamlean", icon: "fab fa-github" },
  { href: "https://t.me/dg404_bot", icon: "fa-brands fa-telegram" },
  { href: "https://www.behance.net/adamlean92", icon: "fab fa-behance" },
  {
    href: "https://soundcloud.com/mastamonk36",
    icon: "fa-brands fa-soundcloud",
  },
];
---

<Layout title="Главная | Адам Лин">
  <Header menu={lang[currentLang].menu} />

  <main class="content">
    <!-- Works -->
    <section class="work section" id="work">
      <!-- <h2 class="section-title">Проекты</h2> -->

      <div class="work-filters">
        <span class="work-item active-work" data-filter="all">All</span>
        <span class="work-item" data-filter=".web">Web</span>
        <span class="work-item" data-filter=".wordpress">Wordpress</span>
        <span class="work-item" data-filter=".react">React</span>
        <span class="work-item" data-filter=".python">Python</span>
      </div>

      <div class="work-container container grid">
        <div class="work-card mix web">
          <img src="../assets/img/webgithub.png" alt="" class="work-img" />
          <h3 class="work-title">Верстка</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">Коллекция работ по верстке</h3>
            <p class="details-description">
              Классическая верстка с использованием различных библиотек.
            </p>
            <ul class="details-info">
              <li>Стек - <span>html css js</span></li>

              <li>
                Демо -
                <span
                  ><a
                    href="https://github.com/adamlean/web-portfolio"
                    target="_blank">https://github.com/adamlean/web-portfolio</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="work-card mix web">
          <img
            src="https://i.postimg.cc/43Th5VXJ/work-1.png"
            alt=""
            class="work-img"
          />
          <h3 class="work-title">Поставщик дальнего востока</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">Поставщик дальнего востока</h3>
            <p class="details-description">
              Лендинг, реализованный с помощью чистой верстки. Соблюдены все
              правила BEM, а также присутствует адаптивность
            </p>
            <ul class="details-info">
              <li>Стек - <span>html css</span></li>

              <li>
                Демо -
                <span
                  ><a href="https://pdv-page.netlify.app/" target="_blank"
                    >https://pdv-page.netlify.app</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="work-card mix web">
          <img src="../assets/img/carsev.png" alt="" class="work-img" />
          <h3 class="work-title">Автосервис</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">Лендинг для автосервиса</h3>
            <p class="details-description">
              Реализован на чистом HTML / CSS. Двухязычная версия.
            </p>
            <ul class="details-info">
              <li>Стек - <span>html css</span></li>

              <li>
                Демо -
                <span
                  ><a
                    href="https://carservice-landing.netlify.app"
                    target="_blank">https://carservice-landing.netlify.app</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="work-card mix web">
          <img src="../assets/img/luxdet.png" alt="" class="work-img" />
          <h3 class="work-title">Luxury Detail</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">
              Сайт по ремонту автомобилей класса люкс
            </h3>
            <p class="details-description">
              Двухязычный сайт, реализованный на чистом HTML и CSS.
            </p>
            <ul class="details-info">
              <li>Стек - <span>html css</span></li>

              <li>
                Демо -
                <span
                  ><a href="https://luxurydetail.netlify.app" target="_blank"
                    >https://luxurydetail.netlify.app</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="work-card mix web">
          <img src="../assets/img/wbport.png" alt="" class="work-img" />
          <h3 class="work-title">Wishbone+Partners</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">Сайт архитектурного бюро</h3>
            <p class="details-description">
              Двухязычный сайт, реализованный на чистом HTML и CSS.
            </p>
            <ul class="details-info">
              <li>Стек - <span>html css</span></li>

              <li>
                Демо -
                <span
                  ><a
                    href="https://wishboneportfolio.netlify.app"
                    target="_blank">https://wishboneportfolio.netlify.app</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="work-card mix web">
          <img src="../assets/img/wolfmedia.png" alt="" class="work-img" />
          <h3 class="work-title">WolfMedia</h3>
          <span class="work-button"
            >Посмотреть<i class="uil uil-arrow-right work-button-icon"
            ></i></span
          >

          <div class="portfolio-item-details">
            <h3 class="details-title">Сайт диджитал-агенства</h3>
            <p class="details-description">
              Сайт реализован на чистом HTML с Tailwind CSS.
            </p>
            <ul class="details-info">
              <li>Стек - <span>HTML / Tailwind CSS</span></li>

              <li>
                Демо -
                <span
                  ><a href="https://w0lfmedia.netlify.app" target="_blank"
                    >https://w0lfmedia.netlify.app</a
                  ></span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <div class="portfolio-popup">
      <div class="portfolio-popup-inner">
        <div class="portfolio-popup-content grid">
          <span class="portfolio-popup-close"
            ><i class="uil uil-times"></i></span
          >
          <div class="pp-thumbnail">
            <img
              src="https://i.postimg.cc/sXLjnC5p/work-2.png"
              alt=""
              class="portfolio-popup-img"
            />
          </div>

          <div class="portfolio-popup-info">
            <div class="portfolio-popup-subtitle">
              <span>Design</span>
            </div>
            <div class="portfolio-popup-body">
              <h3 class="details-title">App for Technology & Services</h3>
              <p class="details-description">
                A stylish burger restaurant mobile app interface displayed on
                two smartphones
              </p>

              <ul class="details-info">
                <li>Стек - <span>html css</span></li>

                <li>
                  Демо -
                  <span><a href="#" target="_blank">www.domain.com</a></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <Footer socialLinks={socialLinks} author="Адам Лин" />
</Layout>
