---
interface MenuItem {
  href: string;
  text: string;
  external?: boolean;
}

const { menu } = Astro.props as { menu: MenuItem[] };
---

<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="/" class="logo">Adam Lean</a>
      <ul class="nav_menu">
        {
          menu.map((item) => (
            <li>
              <a
                href={item.href}
                target={item.external ? "_blank" : undefined}
                rel={item.external ? "noopener noreferrer" : undefined}
              >
                {item.text}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>
