---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import langData from "../../data/lang.json";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

interface Params {
  lang: "ru" | "en";
  slug: string;
}

interface Props {
  post: CollectionEntry<"blog">;
}

export async function getStaticPaths() {
  // Берём только записи вида "en/..." или "ru/..."
  const posts = await getCollection("blog", ({ slug }) =>
    /^(en|ru)\//.test(slug)
  );

  return posts.map((post) => {
    const [lang, slug] = post.slug.split("/");
    return {
      params: { lang: lang as Params["lang"], slug },
      props: { post },
    };
  });
}

const { post } = Astro.props as Props;
const { lang } = Astro.params as Params;

// React/Preact-компонент для содержимого MD/MDX
const { Content } = await post.render();

const socialLinks = [
  { href: "https://github.com/adamlean", icon: "fab fa-github" },
  { href: "https://t.me/dg404_bot", icon: "fa-brands fa-telegram" },
  { href: "https://www.behance.net/adamlean92", icon: "fab fa-behance" },
  {
    href: "https://soundcloud.com/mastamonk36",
    icon: "fa-brands fa-soundcloud",
  },
];
---

<Layout title={`${post.data.title} | Adam Lean`}>
  <Header menu={langData[lang].menu} />

  <main class="content">
    <div class="container">
      <article>
        <h1 class="article-title">{post.data.title}</h1>
        <p class="article-disc">
          <em>
            {
              post.data.date instanceof Date
                ? post.data.date.toLocaleDateString(lang)
                : post.data.date
            }
          </em>
        </p>

        <Content />
      </article>
    </div>
  </main>

  <Footer socialLinks={socialLinks} author="Adam Lean" />
</Layout>
